/alicegrove/
/betterdays/
/blasternation/
/crashzoom/
/doa/
/fanboys/
/gaia/
/girlswithslingshots/
/gogetaroomie/
/iamarg/
/itswalky/
/iverly/
/jl8/
/kiwiblitz/
/laura-kajpust-dailies/
/letsspeakenglish/
/licd/
/loadingartist/
/nerfnow/
/octopuspie/
/originallife/
/overcompensating/
/qc/
/sandraandwoo/
/sleeplessdomain/
/sufficientlyremarkable/
/superredundant/
/twogag/
/whomp/
/wigu-adventures/
/wigu-havin-fun/
/wigu-when-i-grow-up/
/xkcd/
